<!DOCTYPE html>
<!-- This file is a model which the other html pages are built on. 
Every other page has all the code here. When we want to customize
specific pages we use that blockhead thing to do that.
Open the other files to see what I mean.-->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css')}}">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>