<!--The line below tells the file to copy from the base.html  -->
{%extends 'base.html'%}

<!-- Using the block head. It takes whatever is here, and places it on the base.html 
    to generate the page's head. -->
{% block head%} 

<title>User Registration</title> 

{% endblock %}

<!-- Using the block body. It takes whatever is here, and places it on the base.html to 
    generate the page's body. -->
{% block body%}
<h3>Register</h3>
<form action="{{url_for('registration')}}" method="post" autocomplete="off">
    <label for="firstname"></label>
    <input type="text" name="firstname" placeholder="First Name" id="firstname" required>
    <label for="lastname"></label>
    <input type="text" name="lastname" placeholder="Last Name" id="lastname" required>
    <label for="email"></label>
    <input type="email" name="email" id="email" placeholder="abc@xyz.com" required>
    <label for="password"></label>
    <input type="password" name="password" placeholder="Password" id="firstname" required>
    <!-- <div class="msg">{{ msg }}</div> -->
    <input type="submit" value="Register">
</form>
{% endblock %}
